body {
    width:960px;
    margin-left:20px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 2em;
}

ul:first-of-type {
    list-style-type: none;
    padding: 0px;
}

ul > ul   {
    list-style-type: none;
    margin-left: 35px;
}

h2 {
    background-color: #DFE3E6;
    border: 1px solid #929CA4;
    border-radius: 5px;
    padding-left: 8px;
    font-size: 1em;
}

a,h2{
    color: #CC1C0D;
}

#vprospect, #vretain, #vconvert{
    font-weight: bold;
}

p > img {
    float: left;
    margin-top: 7px;
    margin-right: 5px;
}

section:not(.pricing) > img {
    float: left;
    border-radius: 45%;
    margin-right: 15px;
    margin-top: 7px;
    border: solid 2px #CC1C0D;
}
section:not(.pricing) > p {
    margin-top:2px;
}

div
{
    float: left;
    width: 233px;
    height: fit-content;
    text-align: center;
    border: 1px solid grey;
    border-radius: 15px;
    margin-right: 5px;
    padding-top: 20px;
}

div:first-of-type > h3 {
     border-top:  9px solid #CC1C0D;
    }
div:nth-child(2) > h3  {
     border-top:  9px solid #37A4A4;
    }
div:nth-child(3) > h3  {
     border-top:  9px solid #685288;
    }
div:last-of-type > h3  { 
    margin-top: 24px;
    border-top:  9px solid #000000;
}
div:last-of-type{
    padding-top: 30px;
}